<% title = run.title %>

<h1><%= run.name %></h1>

<h3><%= "#{t('run.location')}: #{run.location}" %></h3>

<div id="map"></div>

<div id="organization">
  <%= "#{t('activerecord.attributes.run.organization')}: #{run.organization}" %>
</div>

<div id="service_link">
  <%= "#{t('activerecord.attributes.run.service_link')}: " %>
  <%= link_to run.service_link, run.service_link, target: "_blank" %>
</div>

<div id="date">
  <%= "#{t('activerecord.attributes.run.date')}: #{l run.date}" %>
</div>

<div id="address">
  <%= "#{t('activerecord.attributes.run.address')}: #{run.address}" %>
</div>

<div id="mileage">
  <%= "#{t('activerecord.attributes.run.mileage')}: #{run.mileage}" %>
</div>

<div id="description">
  <%= "#{t('activerecord.attributes.run.description')}: #{run.description}" %>
</div>

<script type="text/javascript" src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry"></script>

<script type="text/javascript" src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>

<%= render 'handler' %>
