// Place all the styles related to the runs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  width: 600px;
  height: 400px;
}

#map {
  label {
    width: auto;
    display:inline;
  }

  img {
    max-width: none;
  }
}
