<!doctype html>
<html lang="<%= locale %>">
  <head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= content_for?(:title) ? "#{ yield(:title) } | GoodRuns" : 'GoodRuns' %>
    </title>
    <%= stylesheet_link_tag :application, media: :all %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
